.january{
    color: rgb(0, 0, 0);
    
}
.carousel{
    width: 460px;
    height: 460px;

}
.card{
    color: black;
}
.school{
    color: white;
}
a:hover{
    color: black;
}

.home{
    color: white;
}


.title{
    color: white;
}
.name{
    color: white;
    font-size: xx-large;
}
.svg{
    width: 80px;
    height: 80px;
}
.img{
    width: 160px;
    height: 160px;
    border-style: double;
    border-color: white;
    border-radius: 3%;
    border-width: 5px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #17a2b8;
    color: black;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #17a2b8;
    
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #17a2b8;
}
#sidebar ul p {
    color: black;
    padding: 10px;
    background: #17a2b8;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: black;
}
#sidebar ul li a:hover {
    color:#17a2b8;
    background: #17a2b8;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    background: #17a2b8
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #17a2b8
}
p {
    
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}
a, a:hover, a:focus {
    color: black !important;
    text-decoration: none;
    transition: all 0.3s;
}

.Lilita-font{
    font-family: 'Lilita One', cursive;
}
.Parisienne-font{
    font-family: 'Parisienne', cursive;
}
.Amatic-font{
    font-family: 'Amatic SC', cursive;
}
.greet{
    margin-top: 8px;
    margin-bottom: 8px;
}

.letra{
    color: #343a40;
}

.icon{
    color: white;
    
}

.ghsot{
    color: #343a40;
}
.space{
    width: 40px;
    height: 40px;
}
.right{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg);
}
.left{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
}





